@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.fontfrank {
  font-family: "Frank Ruhl Libre", serif;
}

